@media (max-width: 1200px) {
  .banner-section__inner {
    justify-content: space-around;
  }
  
  .menu-categories__link {
    font-size: 14px;
  }
  
  .banner-section__slider-img {
    min-height: 380px;
    max-width: 600px;
  }
  .banner-section__slider {
    max-width: 600px;
  }
}

@media (max-width: 1100px) {
  .menu__item + .menu__item {
    padding-left: 20px;
  }
  .header__adress {
    margin-right: 20px;
  }
}

@media (max-width: 968px) {
  .header__adress {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .menu__list {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }
  .menu__btn {
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
  }
  .menu__btn-line {
    background: #2f3035;
    border-radius: 3px;
    height: 3px;
    width: 34px;
    margin: 8px 0;
    transition: all .3s;
  }
  .menu__btn.active .menu__btn-line.med {
    opacity: 0;
    transition: all .3s;
  }
  
  .menu__btn.active .menu__btn-line.last {
    transform: translateY(-11px) rotate(-135deg);
    transition: all .3s;
  }
  .menu__btn.active .menu__btn-line.first {
    transform: translateY(11px) rotate(135deg);
    transition: all .3s;
  }
  
  .menu__mobile-linewrapper {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'SFProDisplay-Bold', sans-serif;
    background-color: #f0f0f4;
    padding: 14px 0 14px 15px;
    overflow-x: scroll;
  }
  .menu__mobile-line {
    width: 450px; 
  }
  .banner-section__inner {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner-section__slider-img {
    max-width: 100%;
  }
  .banner-section__slider {
    max-width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }
  .mobile-overflow {
    width: 1000px;
  }
  .tabs-wrapper {
    overflow-x: scroll;
  }
}

@media (max-width: 640px) {
  .logo__img {
    width: 60px;
  }
  .banner-section .container {
    padding: 0;
  }
  .banner-section__slider-img {
    min-height: 200px;
  }
  .banner-section .slick-dots {
    bottom: 20px;
  }
  .search__content-btn {
    font-size: 0;
    line-height: 0;
    padding: 0;
    background-image: url('../images/search.svg');
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    right: 8px;
    top: 13px;
  }
  .search__content-input {
    height: 50px;
    padding-right: 50px;
  }
  .search__content-form {
    position: relative;
  }
}

@media (max-width: 440px) {
  .banner-section__slider-img {
    min-height: 164px;  
  }
}